.switchery {
    width: 32px;
    height: 20px
}
.switchery>small {
    width: 20px;
    height: 20px
}
.date{
  display: inline-block;
  margin-left: -5px;
}
/* .truncate {
    max-width:50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  } */


/** bootstrap-datetimepicker **/
/*.input-group.date .input-group-addon{
    border-radius: 0px !important;
    background-color: #ffff !important;
}*/
/** /bootstrap-datetimepicker **/